@use "../_01joint/_mixin/_01media" as Rwd;
@use "../_01joint/_03variable" as Var;

@include Rwd.Rwd(xs){
    #AboutEvelyn{
        // 背景顏色
        background-color: Var.$Blue03;

        .titlebox{
            h2{
                // 文字顏色
                color: Var.$White01;
                // 文字尺寸
                font-size: 20px;
                // 文字對齊(置中)
                text-align: center;
                // 文字粗細
                font-weight: bold;
                // 內間距
                padding: 15px 0;
        }
        .line{
            // 高度
            height: 2px;
            // 寬度
            width: 50px;
            // 外邊界（設定置中）上下為0 左右自動
            margin: 0 auto;
            // 設定下邊框線條：線條粗細 線條樣式 線條顏色
            border-bottom: 3px solid Var.$White01;
        }
        }
    }
}