@use "../_01joint/_mixin/_01media" as Rwd;
@use "../_01joint/_03variable" as Var;

@include Rwd.Rwd(xs){

    // 共用繼承可用兩種方式表達：1.複數樣式-寫繼承（來源％開頭，使用@extend呼叫） 
    // 2.單一樣式-可寫變數（判斷是否為最大共用設定）或是繼承（只是目前區塊使用）

    // 繼承（共用）樣式
    %BoxPaddingxs{
        // 內間距（上）
        padding-top: 30px;
        // 內間距（下）
        padding-bottom: 15px;
    }

    %BoxTextxs{
        // 文字對齊(置中)
        text-align: center;
        // 文字尺寸
        font-size: 18px;
        // 文字粗細
        font-weight: bold;
        // 內間距
        padding: 15px 0;
    }

    %linexs{
        // 高度
        height: 2px;
        // 寬度
        width: 50px;
        // 外邊界（設定置中）上下為0 左右自動
        margin: 0 auto;
        // 下邊框線寬度樣式
        border-bottom: 3px solid;
    }

    %Width100{
        // 寬度100%
        width: 100%;
    }

#AboutEvelyn{
        // 背景顏色
        background-color: Var.$Blue03;
        // 呼叫繼承樣式
        @extend %BoxPaddingxs;

        .titlebox{

        h2{
        // 文字顏色
        color: Var.$White01;
        // 呼叫繼承樣式
        @extend %BoxTextxs;
        }
        .line{
            // 下邊框線條顏色
            border-bottom-color: Var.$White01;
            @extend %linexs;
        }
    }
        .content{
            // 內間距（上）
            padding-top: 50px;

            div{
                // 佔據寬度100%
                width: 100%;
                // 置中對齊
                text-align: center;
                // 內間距（下）
                padding-bottom: 40px;
            }
        }
    }

#Skills{
        // 背景顏色
        background-color: Var.$White02;
        // 呼叫繼承樣式
        @extend %BoxPaddingxs;

        .titlebox{
        // 外間距（下）
        margin-bottom: 20px;    
        h2{
        // 文字顏色
        color: Var.$Blue02;
        // 呼叫繼承樣式
        @extend %BoxTextxs;
        }
    }
    .line{
        // 下邊框線條顏色
        border-bottom-color: Var.$Blue02;
        // 呼叫繼承樣式
        @extend %linexs;
    }
        .card{
            // 寬度
            width: 200px;
            // 利用padding設定內間距 上下 取高度
            padding: 20px;
            // 背景顏色
            background-color: Var.$White01;
            // 讓物件在畫面正中間
            margin: 0 auto;
            // 導圓角
            border-radius: 10px;
            // 陰影
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

        .cardcontent{
            // 寬度
            width: 95%;
            //背景顏色
            // background-color: Var.$Blue05;
            // 置中對齊
            margin: 0 auto;
            // 彈性佈局
            display: flex;
            // 水平垂直置中
            justify-content: center;
            align-items: center;
            // 換行
            flex-wrap: wrap;
        }

        .imagebox{
            @extend %Width100;
            // 彈性佈局
            display: flex;
            // 水平垂直置中
            justify-content: center;
            align-items: center;
            // 邊框底線
            border-bottom: 2px solid Var.$Blue02;

            img{
                // 圖片尺寸
                width: 60%;
            }
        }

        h3{
            @extend %Width100;
            // 文字置中
            text-align: center;
            // 文字尺寸
            font-size: 16px;
            // 文字粗細
            font-weight: bold;
            // 文字顏色
            color: Var.$Blue02;
            // 外間距 上下 左右
            margin: 15px 0;
        }

        p{
            @extend %Width100;
            // 文字切齊：左右切齊，尾行靠左
            text-align: justify;
            // 文字顏色
            color: Var.$Blue03;
            // 文字行高
            line-height: 1.5;
            // 文字大小
            font-size: 14px;
            // 文字置中
            text-align: center;
            // 字母間距
            letter-spacing: 0.5px;

            // 文字多出部分需隱藏，以省略號表示
            // 需用 瀏覽器相容性 的樣式撰寫
            // 建立一個彈性內容
            display: -webkit-box;
            // 設定彈性內容的排列方向（垂直）
            -webkit-box-orient: vertical;
            // 限制顯示的行數（3行）
            -webkit-line-clamp: 3;
            // 超出部分隱藏
            overflow: hidden;
            // 超出部分以省略號表示
            text-overflow: ellipsis;
        }
    }
}

#Work{
        // 呼叫繼承樣式
        @extend %BoxPaddingxs;
        // 背景圖片
        background-image: url(../../images/background/work01.jpg);
        // 背景不重複
        background-repeat: no-repeat;
        // 背景尺寸
        background-size: cover;
        // 背景對齊方式
        background-position: center;
        // 背景固定不隨畫面捲動
        background-attachment: fixed;

        .titlebox{
        h2{
        // 文字顏色
        color: Var.$White02;
        // 呼叫繼承樣式
        @extend %BoxTextxs;
        }
        }
        .line{
        // 下邊框線條顏色
        border-bottom-color: Var.$White02;
        // 呼叫繼承樣式
        @extend %linexs;
        }
    }

#Contact{
        // 背景顏色
        background-color: Var.$White02;
        // 呼叫繼承樣式
        @extend %BoxPaddingxs;

        .titlebox{

        h2{
        // 文字顏色
        color: Var.$Blue02;
        // 呼叫繼承樣式
        @extend %BoxTextxs;
        }
    }
        .line{
        // 下邊框線條顏色
        border-bottom-color: Var.$Blue02;
        @extend %linexs;
        }
}
}