@use "../_01joint/_mixin/_01media" as Rwd;
@use "../_01joint/_mixin/_02card" as Card;
@use "../_01joint/_mixin/_03border" as Border;
@use "../_01joint/_03variable" as Var;

@include Rwd.Rwd(xs){

    // 共用繼承可用兩種方式表達：1.複數樣式-寫繼承（來源％開頭，使用@extend呼叫） 
    // 2.單一樣式-可寫變數（判斷是否為最大共用設定）或是繼承（只是目前區塊使用）

    // 繼承（共用）樣式
    %BoxPaddingxs{
        // 內間距（上）
        padding-top: 30px;
        // 內間距（下）
        padding-bottom: 40px;
    }

    %BoxTextxs{
        // 文字對齊(置中)
        text-align: center;
        // 文字尺寸
        font-size: 18px;
        // 文字粗細
        font-weight: bold;
        // 內間距
        padding: 15px 0;
        // 文字陰影：水平 垂直 模糊 顏色
        text-shadow: 1px 1px 3px rgba(61, 63, 70, 0.2);
    }

    %linexs{
        // 高度
        height: 2px;
        // 寬度
        width: 50px;
        // 外邊界（設定置中）上下為0 左右自動
        margin: 0 auto;
        // 下邊框線寬度樣式
        border-bottom: 3px solid;
    }

    %Width100{
        // 寬度100%
        width: 100%;
    }

    %borderRadius{
        // 圓角矩形
        @include Border.Border-radius(10px,10px,10px,10px);
    }

#AboutEvelyn{
        // 背景顏色
        background-color: Var.$Blue03;
        // 呼叫繼承樣式
        @extend %BoxPaddingxs;

        .titlebox{

        h2{
        // 文字顏色
        color: Var.$White01;
        // 呼叫繼承樣式
        @extend %BoxTextxs;
        }
        .line{
            // 下邊框線條顏色
            border-bottom-color: Var.$White01;
            @extend %linexs;
        }
    }
        .content{
            // 內間距（上）
            padding-top: 20px;
            // 寬度
            width:80%;
            // 置中對齊
            margin: 0 auto;

            .imgbox{
                // 佔據寬度100%
                width: 100%;
                // 置中對齊
                text-align: center;
                // 內間距（下）
                padding-bottom: 40px;

                img{
                // 圖片大小
                width: 230px;
                height: auto;
                // 倒圓角
                border-radius: 10px;
                //  陰影
                box-shadow: 0 2px 5px rgba(34,39,51,.1);
            }
            }
            .intro{
                // 文字顏色
                color: Var.$White01;
                // 內間距(左右)
                padding: 0 15px;
                // 設定總寬度不變，寬度往內縮
                box-sizing: border-box;
                // 文字尺寸
                font-size: 12px;
                // 文字行高
                line-height: 1.6;
                // 內間距（下）
                padding-bottom: 20px;
        }
    }
}

#Skills{
        // 背景顏色
        background-color: Var.$White02;
        // 呼叫繼承樣式
        @extend %BoxPaddingxs;

        .titlebox{
        // 外間距（下）
        margin-bottom: 20px;    
        h2{
        // 文字顏色
        color: Var.$Blue02;
        // 呼叫繼承樣式
        @extend %BoxTextxs;
        }
    }
    .line{
        // 下邊框線條顏色
        border-bottom-color: Var.$Blue02;
        // 呼叫繼承樣式
        @extend %linexs;
    }
    @include Card.card();
}

#Work{
        // 呼叫繼承樣式
        @extend %BoxPaddingxs;
        // 背景圖片
        background-image: url(../../images/background/work01.jpg);
        // 背景不重複
        background-repeat: no-repeat;
        // 背景尺寸
        background-size: cover;
        // 背景對齊方式
        background-position: center;
        // 背景固定不隨畫面捲動
        background-attachment: fixed;

        .titlebox{
        // 外間距（下）
        margin-bottom: 20px; 
        h2{
        // 文字顏色
        color: Var.$White02;
        // 呼叫繼承樣式
        @extend %BoxTextxs;
        }
        }
        .line{
        // 下邊框線條顏色
        border-bottom-color: Var.$White02;
        // 呼叫繼承樣式
        @extend %linexs;
        }
        .work{
            // 寬度（一同控制圖片的寬度）
            width: 300px;

            // 利用ul與li架設的區塊，將圖片寫入樣式表的背景，可以用簡單的樣式寫法;缺點：無法直接用資料庫的方式更改圖片
    }
}

// 建議巢狀是讀法，只定義三層架構，故將作品集ul與li的樣式獨立出來（圖片區塊）
#photobox{
        // 圖片寬度
        width: 300px;
        // 置中對齊
        margin: 0 auto;
        li{
            // 佔據寬度100%
            width: 100%;
            // 高度（固定單位）
            height: 200px;
            // 背景顏色
            background-color: rgba(0,0,0,.2);
            // 圓角矩形
            @extend %borderRadius;
        a{
            // 文字尺寸
            font-size: 24px;
            // 文字粗細
            font-weight: bold;
            // 文字裝飾（移除底線）
            text-decoration: none;
            // 字距
            letter-spacing: 1px;
            // 文字顏色透明值
            color:transparent;
            // 感應區高度
            height: 200px;
            // 感應區寬度
            width: 100%;
            // 讓文字在畫面中置中
            display: flex;
            // 置中對齊
            justify-content: center;
            // 垂直置中
            align-items: center;
            }
            a:hover{
            // 背景顏色 黑色
            background-color: rgba(0,0,0,.6);
            // 倒圓角
            // border-radius: 10px;
            // 圓角矩形
            @extend %borderRadius;
            // 文字顏色
            color: Var.$White02;
        }
}
        // 作品圖片區塊
        .one{
            // 背景圖片
            background-image: url(../../images/work/work1.png);
            // 背景不重複
            background-repeat: no-repeat;
            // 背景尺寸：contain 圖片剛好等於圖框寬度，不會超出圖框;cover 圖片大於圖框時，超出的部分會被裁切
            background-size: cover;
            // background-size: contain;
            // 背景對齊方式
            background-position: center;
            // 倒圓角
            //border-radius: 10px;
            }
}
#Contact{
        // 背景顏色
        background-color: Var.$White02;
        // 呼叫繼承樣式
        @extend %BoxPaddingxs;
        
        %inputtextbox{
            // 寬度
            width: 100%;
            // 高度
            // height: 16px;
            // 內間距取代高度
            padding: 8px;
            // 物件寬度以邊框為主，避免設定寬度後，邊框線條加上去，物件寬度超出設定值
            box-sizing: border-box;
        }
        %btn{
            // 寬度
            width: 45%;
            // 高度
            height: 30px;
            // 圓角矩形
            @extend %borderRadius;
            // 文字粗細
            font-weight: bold;
            // 文字尺寸
            font-size: 15px;
            // 外間距（上）
            margin-top: 10px;
            // 游標樣式
            cursor: pointer;
        }
        .titlebox{
        // 外間距（下）
        margin-bottom: 20px; 

        h2{
        // 文字顏色
        color: Var.$Blue02;
        // 呼叫繼承樣式
        @extend %BoxTextxs;
        }
    }
        .line{
        // 下邊框線條顏色
        border-bottom-color: Var.$Blue02;
        @extend %linexs;
        }
    .inform{
        @include Border.Border-styles(3px,solid,Var.$Blue04);
        // 寬度
        // width: 300px;
        width: 80%;
        // 內間距 padding
        padding: 35px 15px 35px 15px;
        // 寬度往內縮 總寬度不變
        box-sizing: border-box;
        // 置中對齊
        margin: 0 auto;
        // 文字顏色
        color: Var.$Blue02;
        // 重新指定定位點（相對定位）
        position: relative;

        .box{
            // 寬度
            width: 100px;
            // 高度
            height: 70px;
            // 背景顏色
            background-color: Var.$White02;
            // 移動至框線的右邊 設定定位方向：
            // static(正常定位）以多物件為主，垂直方向由上往下排
            // relative（相對定位）是相對於原本位置做調整，使用top、bottom、left、right移動
            // absolute（絕對定位）是相對於最近的有定位層級的父層做調整，使用top、bottom、left、right移動
            // position: relative;
            position: absolute;
            // 層疊順序 數字越大越前面（階層越高）;要啟動此樣式需配合絕對定位
            z-index: 5;
            // 右移 (總寬300-方形寬100-內間距15)＝185px; 結果不夠，故再往右移20px
            // left: 195px;
            // 重置後再右移20px
            // left: 215px;
            // left: 75%;
            // 響應各種尺寸不跑版，故改成右邊距離
            right: -15px;
            // 上移 (內間距上50及方形80/2)＝90px
            // top: -90px;
            // 重置後改上移40px即可
            top: -40px;
        }
        #info{
            // 同一父框架的子物件，可用一對多的方式讀取樣式；不同父框架的子物件，需用繼承讀取樣式，可跨區塊使用
            .labeltextsize{
                // 文字尺寸
                font-size: 12px;
                // 文字粗細
                font-weight: bold;
                // 文字顏色
                color: Var.$Blue02;
                // 內間距
                padding: 5px 0;
            }
            .ptext{
                // 文字對齊靠右
                text-align: right;
            }
            .labelbox{
                // 內間距（下）
                padding-bottom: 5px;
                // background-color: aqua;

                // 行內標籤無法讀取padding與margin，需用行高line-height調整
                label{
                    line-height: 20px;
                }
                input[type="text"]{
                    @extend %inputtextbox;
                }
                input[type="email"]{
                    @extend %inputtextbox;
                }
            }
            .textareabox{
                textarea{
                // 若html已設定rows，則可不設定寬高;反之無設定rows，則可設定寬高
                width: 92%;
                height: 240px;
                // 最大寬度
                max-width: 92%;
                // 最大高度
                max-height: 240px;
                // 文字上左間距
                padding: 5px 10px;
                }
            }
            .butbox{
                // 彈性佈局
                display: flex;
                // 置中對齊
                justify-content: space-between;
                input{
                    @extend %btn;
            }
                .submit{
                    // 文字顏色
                    color: Var.$White02;
                    // 背景顏色
                    background-color:rgb(203, 137, 13);
                    // 邊框線條樣式(無)
                    border: none;
                    // 變更順序
                    order: 2;
                }
                .reset{
                    // 文字顏色
                    color: Var.$White02;
                    // 背景顏色
                    background-color: Var.$Blue02;
                    // 邊框線條樣式(無)
                    border: none;
                    // 變更順序
                    order: 1;
                }
            }
        }
}
}
}