@use "../_01joint/_mixin/_01media" as Rwd;
@use "../_01joint/_03variable" as Var;

@include Rwd.Rwd(md){

    // 繼承（共用）樣式
    %BoxPaddingmd{
        // 背景顏色
        background-color: Var.$Blue03;
        // 內間距（上）
        padding-top: 60px;
        // 內間距（下）
        padding-bottom: 30px;
    }

    %BoxTextmd{
        // 文字尺寸
        font-size: 24px;
        // 文字對齊(置中)
        text-align: center;
        // 文字粗細
        font-weight: bold;
        // 內間距
        padding: 15px 0;
    }

    %linemd{
        // 高度
        height: 2px;
        // 寬度
        width: 60px;
        // 外邊界（設定置中）上下為0 左右自動
        margin: 0 auto;
        // 下邊框線寬度樣式
        border-bottom: 4px solid;
    }
#AboutEvelyn{
        // 背景顏色
        background-color: Var.$Blue03;
        // 呼叫繼承樣式
        @extend %BoxPaddingmd;

        .titlebox{

        h2{
        // 文字顏色
        color: Var.$White01;
        // 呼叫繼承樣式
        @extend %BoxTextmd;
        }
        .line{
            // 下邊框線條顏色
            border-bottom-color: Var.$White01;
            @extend %linemd;
        }
    }
        .content{
            // 內間距（上）
            padding-top: 50px;

            div{
                // 佔據寬度100%
                width: 100%;
                // 置中對齊
                text-align: center;
                // 內間距（下）
                padding-bottom: 40px;
            }
        }
    }

#Skills{
        // 背景顏色
        background-color: Var.$White02;
        // 呼叫繼承樣式
        @extend %BoxPaddingmd;

        .titlebox{
        // 外間距（下）
        margin-bottom: 20px;    
        h2{
        // 文字顏色
        color: Var.$Blue02;
        // 呼叫繼承樣式
        @extend %BoxTextmd;
        }
    }
    .line{
        // 下邊框線條顏色
        border-bottom-color: Var.$Blue02;
        // 呼叫繼承樣式
        @extend %linemd;
    }
        .card{
            // 寬度
            width: 300px;
            // 利用padding設定內間距 上下 取高度
            padding: 40px;
            // 背景顏色
            background-color: Var.$White01;
            // 讓物件在畫面正中間
            margin: 0 auto;
        .cardcontent{
            // 寬度
            width: 95%;
            //背景顏色
            //background-color: Var.$Blue05;
            // 置中對齊
            margin: 0 auto;
        }
    }
}

#Work{
        // 呼叫繼承樣式
        @extend %BoxPaddingmd;
        // 背景圖片
        background-image: url(../../images/background/work01.jpg);
        // 背景不重複
        background-repeat: no-repeat;
        // 背景尺寸
        background-size: cover;
        // 背景對齊方式
        background-position: center;
        // 背景固定不隨畫面捲動
        background-attachment: fixed;

        .titlebox{
        h2{
        // 文字顏色
        color: Var.$White02;
        // 呼叫繼承樣式
        @extend %BoxTextmd;
        }
        }
        .line{
        // 下邊框線條顏色
        border-bottom-color: Var.$White02;
        // 呼叫繼承樣式
        @extend %linemd;
        }
    }

#Contact{
        // 背景顏色
        background-color: Var.$White02;
        // 呼叫繼承樣式
        @extend %BoxPaddingmd;

        .titlebox{

        h2{
        // 文字顏色
        color: Var.$Blue02;
        // 呼叫繼承樣式
        @extend %BoxTextmd;
        }
    }
        .line{
        // 下邊框線條顏色
        border-bottom-color: Var.$Blue02;
        @extend %linemd;
        }
}
    }