@use "../_01joint/_mixin/_01media" as Rwd;
@use "../_01joint/_03variable" as Var;

@include Rwd.Rwd(md){

    // 繼承（共用）樣式
    %BoxPaddingmd{
        // 背景顏色
        background-color: Var.$Blue03;
        // 內間距（上）
        padding-top: 60px;
        // 內間距（下）
        padding-bottom: 80px;
    }

    %BoxTextmd{
        // 文字尺寸
        font-size: 24px;
    }

    %linemd{
        // 高度
        height: 2px;
        // 寬度
        width: 60px;
        // 下邊框線寬度樣式
        border-bottom: 4px solid;
    }

#Inmain{
    #BannerBox{
        width: 100%;


        .controls {
            // 靠上
            top: 23%;

            button{
                // 文字尺寸
                font-size: 16px;
            }
        }
    }
    #Banners{
        #PhoneBanner{
            // 隱藏圖片
            display: none;
        }
        #MDBanner{
            display: block;
    }
    }
}

#AboutEvelyn{
        // 呼叫繼承樣式
        @extend %BoxPaddingmd;

        .titlebox{

        h2{
        // 呼叫繼承樣式
        @extend %BoxTextmd;
        }
        .line{
            @extend %linemd;
            // 下邊框線條顏色
            border-bottom-color: Var.$White02;
            // 外間距（下）
            margin-bottom: 15px;
        }
    }
        .content{
            // 彈性佈局 左右
            display: flex;
            // 水平對齊 前後有間距 均分
            justify-content: space-around;

            .imgbox{
                // 佔據寬度
                width: 50%;
                // 內間距（上）
                padding-top: 40px;
                // background-color: aqua;
            }

            .intro{
                // 佔據寬度
                width: 50%;
                // 置中對齊
                // text-align: center;
                // 文字尺寸
                font-size: 18px;
                // 內間距
                padding: 15px 15px;
                // 設定總寬度不變，寬度往內縮
                box-sizing: border-box;
            }
        }
    }

#Skills{
        // 背景顏色
        background-color: Var.$White02;
        // 呼叫繼承樣式
        @extend %BoxPaddingmd;

        .titlebox{
        // 外間距（下）
        margin-bottom: 20px;    
        h2{
        // 文字顏色
        color: Var.$Blue02;
        // 呼叫繼承樣式
        @extend %BoxTextmd;
        }
    }
    .line{
        // 下邊框線條顏色
        border-bottom-color: Var.$Blue02;
        // 呼叫繼承樣式
        @extend %linemd;
    }
        .card{
            // 寬度
            width: 65%;
            // 利用padding設定內間距 上下 取高度
            padding: 40px;
            // 背景顏色
            // background-color: Var.$White01;
            // 讓物件在畫面正中間
            margin: 0 auto;
            // 彈性佈局
            display: flex;
            // 水平垂直置中
            justify-content: center;
            align-items: center;
            // 換行
            flex-wrap: wrap;
            // background-color: aqua;
        .cardcontent{
            // 寬度
            width: 30%;
            //背景顏色
            //background-color: Var.$Blue05;
            // 置中對齊
            margin: 0 auto;
            // background-color: lightgreen;
            // 外間距 下
            margin-bottom: 30px;
            // 最小高度統一
            min-height: 200px;
        }
    }
}

#Work{
        // 呼叫繼承樣式
        @extend %BoxPaddingmd;
        // 背景圖片
        background-image: url(../../images/background/work01.jpg);
        // 背景不重複
        background-repeat: no-repeat;
        // 背景尺寸
        background-size: cover;
        // 背景對齊方式
        background-position: center;
        // 背景固定不隨畫面捲動
        background-attachment: fixed;

        .titlebox{
        h2{
        // 文字顏色
        color: Var.$White02;
        // 呼叫繼承樣式
        @extend %BoxTextmd;
        }
        }
        .line{
        // 下邊框線條顏色
        border-bottom-color: Var.$White02;
        // 呼叫繼承樣式
        @extend %linemd;
        }
    }

#photobox{
    // 寬度
    width: 90%;
    // 彈性佈局
    display: flex;
    // 換行
    flex-wrap: wrap;
    // 水平置中
    justify-content: center;
    // background-color: aqua;
    li{
        // 寬度
        width: 200px;
        // 高度
        height: 150px;
        // 置中對齊
        margin: 0 auto;
        // 外間距（上下 左右）
        margin: 15px 15px;
        a{
            // 文字尺寸
            font-size: 14px;
            // 感應區高度
            height: 150px;
            }
    }
}

#Contact{
        // 背景顏色
        background-color: Var.$White02;
        // 呼叫繼承樣式
        @extend %BoxPaddingmd;

        %btnmd{
            // 寬度
            width: 35%;
            // 文字尺寸
            font-size: 17px;
        }

        .titlebox{

        h2{
        // 文字顏色
        color: Var.$Blue02;
        // 呼叫繼承樣式
        @extend %BoxTextmd;
        }
    }
        .line{
        // 下邊框線條顏色
        border-bottom-color: Var.$Blue02;
        @extend %linemd;
        }

        .inform{
            //寬度
            width: 60%;
            #info{
                .butbox{
                    input{
                    @extend %btnmd;
            }
        }
        .textareabox{
            textarea{
                width: 94%;
                max-width: 94%;
}
}
}
}
}
}