@use "../_01joint/_mixin/_01media" as Rwd;
@use "../_01joint/_03variable" as Var;

@include Rwd.Rwd(lg) {

#Inmain{
    #BannerBox{
        width: 100%;
        // 高度
        margin-top: 100px;

        .controls {
            button{
                // 文字尺寸
                font-size: 14px;
                padding: 15px;
            }
        }
    }
}

#AboutEvelyn{

        .content{
            .imgbox{
                //內間距（上）
                padding-top: 15px;
            }
        }
}

#Skills{
        .card{
            .cardcontent{
            // 最小高度統一
            min-height: 250px;
        }
    }
}

#photobox{
    // 寬度
    width: 90%;
    // background-color: lightsalmon;
    li{
        // 寬度
        width: 250px;
        // 高度
        height:180px;
        a{
            // 文字尺寸
            font-size: 18px;
            // 感應區高度
            height: 180px;
            }
    }
}

#Contact{

        %btnlg{
            // 寬度
            width: 40%;
            // 文字尺寸
            font-size: 18px;
        }
            .inform{
            //寬度
            width: 40%;
            #info{
                .butbox{
                    input{
                    @extend %btnlg;
            }
        }
        .textareabox{
            textarea{
                width: 93%;
                max-width: 93%;
}
}
}
}
}
}