@use "../_01joint/_mixin/_01media" as Rwd;
@use "../_01joint/_03variable" as Var;

@include Rwd.Rwd(xxl){

#Inmain{
    #BannerBox{
        width: 100%;

        .controls {
            button{
                // 文字尺寸
                font-size: 20px;
                padding: 20px;
            }
        }
    }
    #Banners{
        width: 50%;
        // 設定容器高度,避免絕對定位的圖片無法撐開容器
        min-height: 600px;
        // 置中對齊
        margin: 0 auto;
    }
}

    #AboutEvelyn{
        .content{
            // 所佔寬度
            width:50%;
            .intro{
                // 外間距（上）
                margin-top: 30px;
            }
        }
    }
    #Skills{
        .card{
            // 寬度
            width: 80%;
            // 利用padding設定內間距 上下 取高度
            padding: 40px;
            // 背景顏色
            // background-color: Var.$White01;
            // 讓物件在畫面正中間
            margin: 0 auto;
            // 彈性佈局
            display: flex;
            // 水平垂直置中
            justify-content: center;
            align-items: center;
            // 換行
            // flex-wrap: wrap;
            // background-color: aqua;
        .cardcontent{
            // 寬度
            width: 10%;
            //背景顏色
            // background-color: Var.$Blue05;
            // 置中對齊
            margin: 0 auto;
            // background-color: lightgreen;
            // 外間距 左右
            margin: 0 20px;
            // 最小高度統一
            min-height: 280px;
            .imagebox{
                // xxl 尺寸時圖片容器高度
                height: 140px;
                // background-color: lightgreen;
                
                img{
                    // 圖片最大高度
                    max-height: 120px;
                    // 圖片最大寬度
                    max-width: 120px;
                    // background-color: lightcoral;
                }
            }
        }
    }
}
    #photobox{
    // 寬度
    width: 50%;
    // background-color: lightsalmon;
    li{
        // 寬度
        width: 340px;
        // 高度
        height:230px;
        a{
            // 文字尺寸
            font-size: 20px;
            // 感應區高度
            height: 230px;
            }
    }
}
    #Contact{
        %btnxxl{
            // 寬度
            width: 30%;
            // 高度
            height: 35px;
            // 文字尺寸
            font-size: 18px;
        }
        .inform{
            // 寬度
            width: 20%;
            #info{
                .butbox{
                    input{
                        @extend %btnxxl;
                    }
                }
                .textereabox{
                    textarea{
                        // 寬度
                        width: 100%;
                        // 最大寬度
                        max-width: 100%;
                    }
            }
}
}
}
}