@use "../_01joint/_mixin/_01media" as Rwd;
@use "../_01joint/_03variable" as Var;

@include Rwd.Rwd(xxl){

    #AboutEvelyn{
        .content{
            // 所佔寬度
            width:50%;
    }
    }
    #Skills{
        .card{
            // 寬度
            width: 80%;
            // 利用padding設定內間距 上下 取高度
            padding: 40px;
            // 背景顏色
            // background-color: Var.$White01;
            // 讓物件在畫面正中間
            margin: 0 auto;
            // 彈性佈局
            display: flex;
            // 水平垂直置中
            justify-content: center;
            align-items: center;
            // 換行
            // flex-wrap: wrap;
            // background-color: aqua;
        .cardcontent{
            // 寬度
            width: 15%;
            //背景顏色
            //background-color: Var.$Blue05;
            // 置中對齊
            margin: 0 auto;
            // background-color: lightgreen;
            // 外間距 左右
            margin: 0 20px;
        }
    }
}
    #photobox{
    // 寬度
    width: 80%;
    // background-color: lightsalmon;
    li{
        // 寬度
        width: 380px;
        // 高度
        height:270px;
        a{
            // 文字尺寸
            font-size: 24px;
            // 感應區高度
            height: 270px;
            }
    }
}
    #Contact{
        %btnxxl{
            // 寬度
            width: 30%;
            // 高度
            height: 35px;
            // 文字尺寸
            font-size: 18px;
        }
        .inform{
            // 寬度
            width: 30%;
            #info{
                .butbox{
                    input{
                        @extend %btnxxl;
                    }
                }
                .textereabox{
                    textarea{
                        // 寬度
                        width: 100%;
                        // 最大寬度
                        max-width: 100%;
                    }
            }
}
}
}
}