@use "../_01joint/_mixin/_01media" as Rwd;
@use "../_01joint/_03variable" as Var;

@include Rwd.Rwd(xxl){

    #AboutEvelyn{
        .content{
            // 所佔寬度
            width:50%;
    }

    #Contact{
        .inform{
            //寬度
            width: 20%;
}
}
}
}