# macOS 系統檔案
.DS_Store

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# VS Code 設定檔
.vscode/

# 編譯輸出
dist/
build/

# 環境變數
.env
.env.local
.env.*.local

# 日誌檔案
*.log

# 依專案需求可再補充其他忽略
images/