/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@media screen and (min-width: 320px) {
  header {
    padding: 20px 0 20px 0;
    background-color: #F2F2F2;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  header > h1 > div > img {
    padding-left: 20px;
    width: 100px;
    height: auto;
  }
  header > nav {
    display: none;
  }
  header > div {
    display: flex;
    justify-content: flex-end;
  }
  header > div > img {
    padding-right: 25px;
    width: 40px;
    height: auto;
  }
}
@media screen and (min-width: 768px) {
  header > h1 > div > img {
    padding-left: 40px;
    width: 120px;
    height: auto;
  }
  header > nav {
    margin-right: 50px;
    display: block;
  }
  header ul {
    display: flex;
    justify-content: space-around;
  }
  header ul li {
    padding: 0 30px 0 30px;
  }
  header ul li a {
    color: #4a5a6a;
    text-decoration: none;
    letter-spacing: 1px;
    font-size: 18px;
  }
  header > div {
    display: none;
  }
}
@media screen and (min-width: 992px) {
  header > h1 > div > img {
    padding-left: 120px;
    width: 180px;
    height: auto;
  }
  header > nav {
    margin-right: 120px;
    display: block;
  }
  header ul li {
    padding: 0 45px 0 45px;
  }
  header ul li a {
    font-size: 20px;
  }
}
@media screen and (min-width: 320px) {
  footer {
    background-image: url(../../images/background/footer01.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-color: burlywood;
  }
  footer ul {
    padding: 20px 0;
  }
  footer ul li {
    text-align: center;
  }
  footer ul .CR01 {
    font-size: 12px;
    color: white;
    margin-bottom: 5px;
  }
  footer ul .CR02 {
    font-size: 13px;
    color: white;
  }
}
@media screen and (min-width: 320px) {
  #Contact, #Work, #Skills, #AboutEvelyn {
    padding-top: 30px;
    padding-bottom: 40px;
  }
  #Contact .titlebox h2, #Work .titlebox h2, #Skills .titlebox h2, #AboutEvelyn .titlebox h2 {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    padding: 15px 0;
    text-shadow: 1px 1px 3px rgba(61, 63, 70, 0.2);
  }
  #Contact .line, #Work .line, #Skills .line, #AboutEvelyn .titlebox .line {
    height: 2px;
    width: 50px;
    margin: 0 auto;
    border-bottom: 3px solid;
  }
  #Skills .card p, #Skills .card h3, #Skills .card .imagebox {
    width: 100%;
  }
  #Contact .inform #info .butbox input, #photobox li a:hover, #photobox li {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  #AboutEvelyn {
    background-color: #9da9b5;
  }
  #AboutEvelyn .titlebox h2 {
    color: #F2F2F2;
  }
  #AboutEvelyn .titlebox .line {
    border-bottom-color: #F2F2F2;
  }
  #AboutEvelyn .content {
    padding-top: 20px;
    width: 80%;
    margin: 0 auto;
  }
  #AboutEvelyn .content .imgbox {
    width: 100%;
    text-align: center;
    padding-bottom: 40px;
  }
  #AboutEvelyn .content .imgbox img {
    width: 230px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(34, 39, 51, 0.1);
  }
  #AboutEvelyn .content .intro {
    color: #F2F2F2;
    padding: 0 15px;
    box-sizing: border-box;
    font-size: 12px;
    line-height: 1.6;
    padding-bottom: 20px;
  }
  #Skills {
    background-color: #EAEAEA;
  }
  #Skills .titlebox {
    margin-bottom: 20px;
  }
  #Skills .titlebox h2 {
    color: #6e7f91;
  }
  #Skills .line {
    border-bottom-color: #6e7f91;
  }
  #Skills .card {
    width: 200px;
    padding: 20px;
    background-color: #F2F2F2;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(34, 39, 51, 0.1);
  }
  #Skills .card .cardcontent {
    width: 95%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  #Skills .card .imagebox {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid #6e7f91;
  }
  #Skills .card .imagebox img {
    width: 60%;
  }
  #Skills .card h3 {
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    color: #6e7f91;
    margin: 15px 0;
  }
  #Skills .card p {
    text-align: justify;
    color: #9da9b5;
    line-height: 1.5;
    font-size: 14px;
    text-align: center;
    letter-spacing: 0.5px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  #Work {
    background-image: url(../../images/background/work01.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }
  #Work .titlebox {
    margin-bottom: 20px;
  }
  #Work .titlebox h2 {
    color: #EAEAEA;
  }
  #Work .line {
    border-bottom-color: #EAEAEA;
  }
  #Work .work {
    width: 300px;
  }
  #photobox {
    width: 300px;
    margin: 0 auto;
  }
  #photobox li {
    width: 100%;
    height: 200px;
    background-color: rgba(0, 0, 0, 0.2);
  }
  #photobox li a {
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    letter-spacing: 1px;
    color: transparent;
    height: 200px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #photobox li a:hover {
    background-color: rgba(0, 0, 0, 0.6);
    color: #EAEAEA;
  }
  #photobox .one {
    background-image: url(../../images/work/work1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  #Contact {
    background-color: #EAEAEA;
  }
  #Contact .inform #info .labelbox input[type=email], #Contact .inform #info .labelbox input[type=text] {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
  }
  #Contact .inform #info .butbox input {
    width: 45%;
    height: 30px;
    font-weight: bold;
    font-size: 15px;
    margin-top: 10px;
    cursor: pointer;
  }
  #Contact .titlebox {
    margin-bottom: 20px;
  }
  #Contact .titlebox h2 {
    color: #6e7f91;
  }
  #Contact .line {
    border-bottom-color: #6e7f91;
  }
  #Contact .inform {
    border: 3px solid #4f6d7a;
    width: 80%;
    padding: 35px 15px 35px 15px;
    box-sizing: border-box;
    margin: 0 auto;
    color: #6e7f91;
    position: relative;
  }
  #Contact .inform .box {
    width: 100px;
    height: 70px;
    background-color: #EAEAEA;
    position: absolute;
    z-index: 5;
    right: -15px;
    top: -40px;
  }
  #Contact .inform #info .labeltextsize {
    font-size: 12px;
    font-weight: bold;
    color: #6e7f91;
    padding: 5px 0;
  }
  #Contact .inform #info .ptext {
    text-align: right;
  }
  #Contact .inform #info .labelbox {
    padding-bottom: 5px;
  }
  #Contact .inform #info .labelbox label {
    line-height: 20px;
  }
  #Contact .inform #info .textareabox textarea {
    width: 92%;
    height: 240px;
    max-width: 92%;
    max-height: 240px;
    padding: 5px 10px;
  }
  #Contact .inform #info .butbox {
    display: flex;
    justify-content: space-between;
  }
  #Contact .inform #info .butbox .submit {
    color: #EAEAEA;
    background-color: rgb(203, 137, 13);
    border: none;
    order: 2;
  }
  #Contact .inform #info .butbox .reset {
    color: #EAEAEA;
    background-color: #6e7f91;
    border: none;
    order: 1;
  }
}
@media screen and (min-width: 768px) {
  #Contact, #Work, #Skills, #AboutEvelyn {
    background-color: #9da9b5;
    padding-top: 60px;
    padding-bottom: 80px;
  }
  #Contact .titlebox h2, #Work .titlebox h2, #Skills .titlebox h2, #AboutEvelyn .titlebox h2 {
    font-size: 24px;
    text-align: center;
    font-weight: bold;
    padding: 15px 0;
  }
  #Contact .line, #Work .line, #Skills .line, #AboutEvelyn .titlebox .line {
    height: 2px;
    width: 60px;
    margin: 0 auto;
    border-bottom: 4px solid;
  }
  #AboutEvelyn {
    background-color: #9da9b5;
  }
  #AboutEvelyn .titlebox h2 {
    color: #F2F2F2;
  }
  #AboutEvelyn .titlebox .line {
    border-bottom-color: #F2F2F2;
  }
  #AboutEvelyn .content {
    padding-top: 50px;
    display: flex;
  }
  #AboutEvelyn .content div {
    width: 100%;
    text-align: center;
    padding-bottom: 40px;
  }
  #Skills {
    background-color: #EAEAEA;
  }
  #Skills .titlebox {
    margin-bottom: 20px;
  }
  #Skills .titlebox h2 {
    color: #6e7f91;
  }
  #Skills .line {
    border-bottom-color: #6e7f91;
  }
  #Skills .card {
    width: 300px;
    padding: 40px;
    background-color: #F2F2F2;
    margin: 0 auto;
  }
  #Skills .card .cardcontent {
    width: 95%;
    margin: 0 auto;
  }
  #Work {
    background-image: url(../../images/background/work01.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }
  #Work .titlebox h2 {
    color: #EAEAEA;
  }
  #Work .line {
    border-bottom-color: #EAEAEA;
  }
  #Contact {
    background-color: #EAEAEA;
  }
  #Contact .inform #info .butbox input {
    width: 35%;
    font-size: 17px;
  }
  #Contact .titlebox h2 {
    color: #6e7f91;
  }
  #Contact .line {
    border-bottom-color: #6e7f91;
  }
  #Contact .inform {
    width: 60%;
  }
  #Contact .inform #info .textareabox textarea {
    width: 94%;
    max-width: 94%;
  }
}
@media screen and (min-width: 992px) {
  #Contact .inform #info .butbox input {
    width: 40%;
    font-size: 18px;
  }
  #Contact .inform {
    width: 40%;
  }
  #Contact .inform #info .textareabox textarea {
    width: 93%;
    max-width: 93%;
  }
}
@media screen and (min-width: 1400px) {
  #Contact .inform {
    width: 20%;
  }
}