// SCSS 重點一：變數
// SCSS 重點二：巢狀寫法
// SCSS 重點三：繼承（extend），合併一模一樣的樣式內容;無法使用個別檔案後連結;自適應版本有無法同時使用一個設定
// SCSS 重點四：混合（mixins），將經常被重複使用的程式碼獨立撰寫，並且可以帶入參數;需要時再 @include 呼叫使用
// SCSS 重點五：Mixin（若設計時使用函數或變數時）無法使用＠import 匯入，因被歸類在「模組」之內，故需用@use讀取

// 1.標籤選取器 ；2.子孫選取器（例如：header h1）;3.子（指）選取器（例：header >nav）

//設計 手機版 樣式，使用media媒體判斷;1.讀取 變數檔案 2.讀取 媒體判斷檔
@use "../_01joint/_03variable" as Var;
@use "../_01joint/_mixin/_01media" as Rwd;

@include Rwd.Rwd(md){
    header{
        >h1{
            >a{
                >div{
                    >img{
                    // 左邊內間距增加（往右邊移動）
                    padding-left: 30px;
                    // 設定 logo 圖片大小
                    width: 120px;   // 可以調整這個數值
                    height: auto;  // 保持比例
                    }
                }
            }
        }
        >nav{
            // 利用margin設定右側與頁面的距離，將nav往左邊移動
            margin-right:30px;
            // 顯示方式：區域
            display: block;
            // 定位恢復為 靜態定位
            position: static;
        }
        // 利用子孫選取器，選取 nav 底下的 ul，直接打ul
        ul{
            // 子元素的排列方式：彈性布局 flex 排版
            display: flex;
            // 子元素的排列方式：水平排列
            justify-content: space-around;

        li{
            padding: 0 30px 0 30px;

            a{
            // 超連結文字顏色
            color: Var.$Blue;
            // 取消超連結底線
            text-decoration: none;
            // 設定字距
            letter-spacing: 1px;
            // 設定字型大小
            font-size: 18px;
        }
    }

        }
        >div{
            // 顯示方式：隱藏
            display: none;
        }
    }
};