// SCSS 重點一：變數
// SCSS 重點二：巢狀寫法
// SCSS 重點三：繼承（extend），合併一模一樣的樣式內容;無法使用個別檔案後連結;自適應版本有無法同時使用一個設定
// SCSS 重點四：混合（mixins），將經常被重複使用的程式碼獨立撰寫，並且可以帶入參數;需要時再 @include 呼叫使用
// SCSS 重點五：Mixin（若設計時使用函數或變數時）無法使用＠import 匯入，因被歸類在「模組」之內，故需用@use讀取

// 1.標籤選取器 ；2.子孫選取器（例如：header h1）;3.子（指）選取器（例：header >nav）

//設計 手機版 樣式，使用media媒體判斷;1.讀取 變數檔案 2.讀取 媒體判斷檔
@use "../_01joint/_03variable" as Var;
@use "../_01joint/_mixin/_01media" as Rwd;

@include Rwd.Rwd(lg){
    header{

        >h1{

            >div{
                >img{
                    // 左邊內間距增加（往右邊移動）
                    padding-left: 120px;
                    // 設定 logo 圖片大小
                    width: 180px;   // 可以調整這個數值
                    height: auto;  // 保持比例
                }
            }
        }
        >nav{
            // 利用margin設定右側與頁面的距離，將nav往左邊移動
            margin-right:120px;
            // 顯示方式：區域
            display: block;
        }
        ul{
            li{
                padding: 0 45px 0 45px;
                a{
            // 設定字型大小
            font-size: 20px;
            }

            }
            
        }
    }
};