// 將變數視為儲存整個樣式表中會重複使用的值。可以儲存顏色、字型、字型大小、字體堆疊、間距尺寸等。或自己認為會重複使用的任何css值等內容。Sass 變數以$符號為開頭

// 變數的命名方式 英文和數字; 取有意義的名稱; 英文為開頭; 英文可為全小寫、字詞開頭大寫、兩個單字合併（全小寫）、兩個單字合併（單字開頭大寫-駝峰命名法）、兩個單字合併可使用_底線連接
$Blue:#4a5a6a;
$Blue02:#6e7f91;
$Blue03:#9da9b5;
$Yellow01:#bfa88c;
$White01:#F2F2F2;

// 計算用基數
$Ten: 10;

// 設定媒體判斷尺寸
$xs: 375px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;